article.text, article.dialog {
  direction: rtl;
  unicode-bidi: embed;
  text-align: justify;
  font-family: serif;
  font-size: 128%;
  line-height: 1.5;
}

hr {
  border-style: hidden;
  border-top: 1px dashed darkgray;
}


ul.dialog {
  list-style-type: none;
  list-style-position: inside;
  margin-left: 0;
  padding-left: 0;
}

ul.dialog > li.dialog-item {
  page-break-inside: avoid;
}

ul.dialog > li.dialog-item > div.dialog-item-speaker {
  color: DarkGrey;
}

ul.dialog > li.dialog-item > div.dialog-item-speaker:after {
  content: ": ";
}

ul.dialog > li.dialog-item > div.dialog-item-separator {
  float: right;
}

ul.dialog > li.dialog-item > div.dialog-item-utterance {
  margin-right: 2em;
}

ul.dialog > li.dialog-item > div.dialog-item-utterance > :first-child {
  margin-top: 0;
}
