@import url(./fonts.css);
@import url(./dialog.css);
@import url(./vocabulary.css);

article.text, article.dialog {
  font-size: 1.2rem;
  text-align: justify;
  font-family: "HanWangMingMediumChuin", "PMingLiU" , sans-serif;
}

article.text > h1 {
  font-family: "HanWangMingBold", "PMingLiU" , sans-serif;
}

hr {
  border-style: hidden;
  border-top: 1px dashed darkgray;
}
